<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="../bower_components/angular-mocks/angular-mocks.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" rel="stylesheet">
</head>
<body ng-controller="MainCntrl">
<div class="container">
    <h1>Hello World</h1>
    <p>{{welcome}}</p>
    <div><h2>Good Luck !!</h2></div>
    <p>Please Use README.md for more information</p>
    <p>&copy; 2015 Webbro Technologies</p>
</div>
<script type="text/javascript" src="indexController.js"></script>
</body>
</html>